<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to the Yellow Movement</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet"> -->

    <!-- Fonts and icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Custom styles for this Page -->
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top shadow-lg">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">YELLOW MOVEMENT</a>
        <button class="navbar-toggler hover-shadow" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                      <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li> -->
                <li class="nav-item">
                    <a class="nav-link text-white" id="createAccountModalOpener" data-toggle="modal"
                       data-target="#createAccountModal" href="#">Sign up</a>
                </li>

                <li class="nav-item ml-3 pl-2 border border-light border-top-0 border-bottom-0 border-right-0 text-white">
                    <a class="nav-link text-white" id="loginModalOpener" data-toggle="modal" data-target="#loginModal" href="#">Sign
                        in</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Create Account Modal -->
<div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <form id="createAccountForm" class="container p-3" action="/createAccount" th:object="${account}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAccountModalTitle">Sign up - Create Your New Account Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signUpName">Name</label>
                        <input type="text" id="signUpName" th:field="*{name}" name="signUpName"
                               class="form-control rounded-0 shadow-sm"
                               placeholder="John Doe">
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('name')}"
                              th:errors="*{name}">Name Error</span>

                    </div>
                    <div class="form-group">
                        <label for="signUpEmail">Email</label>
                        <input type="email" id="signUpEmail" th:field="*{email}" name="signUpEmail"
                               class="form-control rounded-0 shadow-sm"
                               placeholder="example@example.com">
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">Email Error</span>
                    </div>
                    <div class="form-group">
                        <label for="signUpSex">Sex</label>
                        <select id="signUpSex" th:field="*{sex}" class="form-control rounded-0 shadow-sm"
                                name="signUpSex">
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        </select>
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('sex')}"
                              th:errors="*{sex}">Sex Error
                          </span>
                    </div>
                    <div class="form-group">
                        <label for="signUpPassword">Password</label>
                        <input type="password" id="signUpPassword" th:field="*{password}" name="signUpPassword"
                               class="form-control rounded-0 shadow-sm"
                               placeholder="Password">
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">Password Error
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="signUpConfirmPassword">Confirm Password</label>
                        <input type="password" id="signUpConfirmPassword" name="signUpConfirmPassword"
                               class="form-control rounded-0 shadow-sm"
                               placeholder="Password">
                        <!-- <span class="text-danger font-weight-light"
                                th:if="${#fields.hasErrors('signUpConfirmPassword')}"
                                th:errors="*{signUpConfirmPassword}">Confirm Password Error
                          </span> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary hover-shadow rounded-0 hover-shadow"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" class="btn btn-outline-warning hover-shadow rounded-0 hover-shadow">Sign up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <form id="loginForm" class="container p-3" action="/login" th:object="${login}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Sign In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="loginEmail">Email</label>
                        <input type="email" th:field="*{loginEmail}" id="loginEmail" name="loginEmail"
                               class="form-control rounded-0 shadow-sm" placeholder="example@example.com">
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('loginEmail')}"
                              th:errors="*{loginEmail}">Email Error
      		  </span>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" id="loginPassword" th:field="*{loginPassword}" name="loginPassword"
                               class="form-control rounded-0 shadow-sm" placeholder="Password">
                        <span class="text-danger font-weight-light"
                              th:if="${#fields.hasErrors('loginPassword')}"
                              th:errors="*{loginPassword}">Password Error
      		  </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary hover-shadow rounded-0 hover-shadow"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="loginSubmit"
                            class="btn btn-outline-warning hover-shadow rounded-0 hover-shadow">Sign in
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<header class="shadow">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('img/1.jpg')">
                <div class="carousel-caption d-none d-md-block mb-4 pb-5">
                    <h3 class="display-4">First Slide</h3>
                    <p class="lead">This is a description for the first slide.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/2.jpg')">
                <div class="carousel-caption d-none d-md-block mb-4 pb-5">
                    <h3 class="display-4">Second Slide</h3>
                    <p class="lead">This is a description for the second slide.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('img/3.jpg')">
                <div class="carousel-caption d-none d-md-block mb-4 pb-5">
                    <h3 class="display-4">Third Slide</h3>
                    <p class="lead">This is a description for the third slide.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<section class="container p-4">
    <!-- About us -->
    <div class="container text-center">
        <h1 class="mt-5 display-4 text-capitalize">About Us</h1>
        <hr>
        <p class="lead my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam
            aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur
            debitis velit facere nisi expedita vel?</p>
        <hr>
        <br>
    </div>

    <!-- What We have Done -->
    <div class="container text-center">
        <h1 class="mt-5 display-4 text-capitalize">What We Do</h1>
        <hr>
        <p class="lead my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam
            aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur
            debitis velit facere nisi expedita vel?</p>
        <hr>
        <br>
    </div>

    <!-- Our Team -->
    <!-- Team Members Row -->
    <div class="container text-center">
        <h1 class="mt-5 display-4 text-capitalize">Our Team</h2>
            <hr>

            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4 hover-shadow">
                        <img class="rounded-circle d-inline-block shadow mx-auto" src="img/people.jpg" width="200px"
                             height="200px" alt="">
                        <h3 class="pt-4">John Smith
                            <small class="text-muted ml-2 pl-3 border border-dark border-top-0 border-bottom-0 border-right-0">
                                Job Title
                            </small>
                        </h3>
                        <hr>
                        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
    </div>

    <div class="container text-center">
        <h1 class="mt-5 display-4 text-capitalize">Contact Us</h1>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4">
                <i class="fas fa-phone rounded-circle shadow-sm contact-icon mx-auto align-middle border border-warning text-warning"></i>
                <h3 class="pt-4">Call Us</h3>
                <hr>
                <p class="text-muted">+251 987 65 4321</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4">
                <i class="far fa-envelope rounded-circle shadow-sm contact-icon mx-auto align-middle border border-warning text-warning"></i>
                <h3 class="pt-4">Email</h3>
                <hr>
                <p class="text-muted">yellow@movement.com</p>
            </div>

            <div class="col-lg-4 col-sm-6 text-center mb-3 pt-4">
                <i class="fab fa-telegram-plane rounded-circle shadow-sm contact-icon mx-auto align-middle border border-warning text-warning"></i>
                <h3 class="pt-4">Telegram</h3>
                <hr>
                <p class="text-muted">@yellowmovement</p>
            </div>
        </div>
        <hr>
        <br>
    </div>


</section>


<!-- Footer -->
<footer class="py-5 bg-warning">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:href="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
<script th:href="@{/js/jquery.validate.min.js}" src="../js/jquery.validate.min.js"></script>
<script th:href="@{/js/bootstrap.bundle.min.js}" src="/js/bootstrap.bundle.min.js"></script>

<script th:href="@{/js/modal.js}" src="../js/modal.js"></script>
<script th:href="@{/js/validation.js}" src="../js/validation.js"></script>

<script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
<script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>

</body>

</html>
