<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head"></head>

<body>

<nav th:replace="fragments/fragments :: nav-bar"></nav>


<!-- Page Content -->
<div class="container content-holder">


    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-10">

            <!-- Title -->
            <h1 class="mt-4" th:text="${currentPost.title}">Post Title</h1>


            <hr>

            <!-- Date/Time -->
            <p class="text-muted" th:text="${currentPost.dateString}"></p>

            <hr>

            <!-- Preview Image -->

            <img class="d-inline-block rounded-0 shadow-sm" style="width: 100%; height: auto"
                 th:alt="${currentPost.title}" th:src="@{/img/franknmatt.jpg}">

            <hr>


            <!-- Post Content -->
            <p th:text="${currentPost.content}"></p>

            <hr>


            <!-- Comments Form -->
            <!--<div class="card my-4 rounded-0">-->
            <!--<h5 class="card-header">Leave a Comment:</h5>-->
            <!--<div class="card-body">-->
            <!--<form>-->
            <!--<div class="form-group">-->
            <!--<textarea class="form-control rounded-0" rows="3"></textarea>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-outline-warning rounded-0 hover-shadow">Submit</button>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Single Comment -->
            <div class="media mb-4">
                <img alt="" class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment with nested comments -->


        </div>

        <!-- Sidebar Widgets Column -->
        <!--<div class="col-md-4">-->
        <!--<br><br><br>-->
        <!--&lt;!&ndash; Search Widget &ndash;&gt;-->
        <!--<div class="card my-4 rounded-0 shadow-sm">-->
        <!--<h5 class="card-header">Search</h5>-->
        <!--<div class="card-body">-->
        <!--<div class="input-group shadow-sm">-->
        <!--<input type="text" class="form-control rounded-0" placeholder="Search for...">-->
        <!--<span class="input-group-btn">-->
        <!--<button class="btn btn-warning text-light rounded-0" type="button">Go!</button>-->
        <!--</span>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Categories Widget &ndash;&gt;-->
        <!--<div class="card my-4 rounded-0 shadow-sm">-->
        <!--<h5 class="card-header">Categories</h5>-->
        <!--<div class="card-body">-->

        <!--<div class="row p-1" th:each="category:${categoriesList}">-->
        <!--<div class="col-lg-6 py-1">-->
        <!--<a href="#" class="text-warning" th:text="${category}">Web Design</a>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->


        <!-- Side Widget -->
        <!-- <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

    </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->


<!-- Footer -->
<footer th:replace="fragments/fragments :: footer"></footer>

<!-- JavaScript Imports -->
<div th:replace="fragments/fragments :: js-imports"></div>


</body>

</html>
