<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${loggedInUser.name}"></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-warning fixed-top shadow-lg">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}">YELLOW MOVEMENT</a>
        <button class="navbar-toggler hover-shadow" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <!--<li sec:authorize="isAuthenticated()" class="nav-item">-->
                <!--<a class="nav-link" href="#">Blog</a>-->
                <!--</li>-->


                <li sec:authorize="isAuthenticated()"
                    class="nav-item ml-2 pl-2 border border-light border-top-0 border-bottom-0 border-right-0 text-white">
                    <span class="nav-link text-light" th:text="${loggedInUser.name}"> </span>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown"
                    style="margin-top: -4%; margin-bottom: -3%">
                    <a id="dropDownImg" href="#" class="dropdown-toggle nav-link d-inline-block" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img class="shadow-sm rounded-circle d-inline-block border border-light"
                             th:src="@{'/img/profile_pictures/'+${loggedInUser.profilePic}}" width="38px" height="38px"
                             alt="Card image cap">
                    </a>
                    <div class="dropdown-menu rounded-0" aria-labelledby="dropDownImg">
                        <a class="dropdown-item" th:href="@{/profile}"><i
                                class="fas fa-user-alt d-inline-block mr-2"> </i> My Profile</a>
                        <a class="dropdown-item" th:href="@{/logout}"><i
                                class="fas fa-sign-out-alt d-inline-block mr-2"> </i> Sign out</a>
                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container-fluid shadow-lg text-center" style="height: 920px;">


    <div class="row">

        <div id="profileBackgroundImg" class="col-md-12"
             style="background-image: url('/img/cover-photo.jpeg'); background-size: cover; height: 30vh">


        </div>

    </div>
    <!-- /.row -->

    <div class="row">


        <div class="col-md-12 text-center">

            <div id="profileViewRegion" th:if="${param.performing == null}" class="container col-md-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="d-inline-block border border-warning rounded-circle shadow-lg mb-4"
                             th:style="'background-image:url(' + @{'/img/profile_pictures/'+${loggedInUser.profilePic}} + ');width: 300px; height: 300px; background-size: cover; background-position: center; border:5px; margin-top: -150px;'"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-4 text-dark" th:text="${loggedInUser.name}">
                            User's Name
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="lead" th:text="${loggedInUser.email}">
                            email@email.com
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" th:each="role : ${loggedInUser.roles}">
                        <p class="font-italic text-muted" th:if="${role.role != 'USER'}" th:text="${role.role}">
                            USER ROLE
                        </p>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">
                            Sex: <span class="font-italic" th:text="${loggedInUser.sex}">User Sex</span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p class="lead text-muted">
                            Here since <span class="font-italic" th:text="${loggedInUser.dateString}">Date Joined</span>
                        </p>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md">
                        <a th:href="@{/profile/edit}" class="btn btn-link text-muted"><i
                                class="fas fa-user-edit d-inline-block mr-2"></i> Edit Profile
                        </a>
                    </div>
                    <div class="col-md">
                        <a th:href="@{#}" class="btn btn-link text-muted" data-toggle="modal"
                           data-target="#changePasswordModal"><i
                                class="fas fa-key d-inline-block mr-2"> </i> Change Password
                        </a>
                    </div>
                </div>

            </div>


            <div id="profileEditRegion"
                 th:if="${(param.performing != null) and ((param.performing[0] == 'edit') or (param.performing[0] == 'uploadImg')) }"
                 class="container col-md-4">
                <form action="#" method="POST" th:object="${loggedInUser}">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-inline-block border border-warning rounded-circle shadow-lg mb-4"
                                 th:style="'background-image:url(' + @{'/img/profile_pictures/'+${loggedInUser.profilePic}} + ');width: 300px; height: 300px; background-size: cover; background-position: center; border:5px; margin-top: -150px;'">
                                <a th:href="@{/profile/uploadImg}"
                                   class="d-inline-block text-white bg-warning display-4 rounded-circle"
                                   style="width: 300px; height: 300px; opacity: 0.4; line-height: 300px; color: #FFF;"><i
                                        class="fas fa-pencil-alt d-inline-block mr-2"> </i></a>
                            </div>


                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 form-group">

                            <div class="form-group text-center">
                                <label class="lead" for="accountName">Name: </label>
                                <input type="text" id="accountName" th:field="*{name}" name="name"
                                       class="form-control rounded-0 d-inline-block w-auto font-weight-bold shadow-sm ml-3"
                                       placeholder="Name">
                                <span class="text-danger font-weight-light d-block"
                                      th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}">Name Error</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12 form-group">

                            <div class="form-group text-center">
                                <label class="lead" for="accountEmail">Email: </label>
                                <input type="email" id="accountEmail" th:field="*{email}" name="email"
                                       class="form-control rounded-0 d-inline-block w-auto font-weight-bold shadow-sm ml-3"
                                       placeholder="Name">
                                <span class="text-danger font-weight-light d-block"
                                      th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">Name Error</span>
                            </div>
                        </div>
                    </div>

                    <div class="row" th:if="${loggedInUser.roles.size() <= 1}">
                        <div class="col-md-12">
                            <a th:href="@{#}" class="btn btn-link text-muted"><i
                                    class="fas fa-plus d-inline-block mr-2"> </i> Be a Blogger
                            </a>
                        </div>
                    </div>

                    <hr/>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="lead" for="sex">Sex: </label>
                            <select id="sex" th:field="*{sex}"
                                    class="form-control rounded-0 d-inline-block w-auto font-weight-bold shadow-sm mx-3"
                                    name="signUpSex">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                            <span class="text-danger font-weight-light d-block"
                                  th:if="${#fields.hasErrors('sex')}"
                                  th:errors="*{sex}">Sex Error
                          </span>
                        </div>
                    </div>


                    <hr>
                    <div class="row px-md-3">
                        <div class="col-md m-2">
                            <a th:href="@{/profile}"
                               class="btn btn-outline-secondary hover-shadow rounded-0 hover-shadow">
                                Cancel
                            </a>
                        </div>
                        <div class="col-md m-2">
                            <button type="submit" class="btn btn-outline-warning hover-shadow rounded-0 hover-shadow">
                                Apply
                            </button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div class="modal fade" data-show="true" id="changePasswordModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <form id="changePasswordForm" class="container p-3" action="/changePassword" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalTitle">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div th:if="${param.error}" class="alert alert-warning rounded-0 shadow-sm"
                         style="text-align: center">
                        Incorrect password.
                    </div>
                    <div class="form-group my-4">
                        <input type="password" id="oldPassword" name="oldPassword"
                               class="form-control rounded-0 shadow-sm" placeholder="Old Password">
                    </div>
                    <hr>
                    <div class="form-group my-4">
                        <input type="password" id="newPassword" name="newPassword"
                               class="form-control rounded-0 shadow-sm" placeholder="New Password">
                    </div>
                    <div class="form-group my-4">
                        <input type="password" id="confirmPassword" name="confirmPassword"
                               class="form-control rounded-0 shadow-sm" placeholder="Confirm Password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary hover-shadow rounded-0 hover-shadow"
                            data-dismiss="modal">Cancel
                    </button>
                    <button type="submit" id="loginSubmit"
                            class="btn btn-outline-warning hover-shadow rounded-0 hover-shadow">Sign in
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" data-show="true" th:if="${(param.performing != null) and (param.performing[0] == 'uploadImg')}"
     id="uploadImgModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <form id="uploadImgForm" class="container p-3" action="/uploadProfileImg" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadImgModalTitle">Edit Profile Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">

                    <div th:if="${param.error}" class="alert alert-warning rounded-0 shadow-sm"
                         style="text-align: center">
                        Could not Upload .
                    </div>
                    <div id="previewImage" class="form-group my-4 shadow d-inline-block"
                         th:style="'background-image:url(' + @{'/img/profile_pictures/'+${loggedInUser.profilePic}} + ');width: 350px; height: 350px; background-size: cover; background-position: center; border:5px; margin-top: -150px;'">

                    </div>

                    <div class="form-group mb-3">

                        <div class="row">
                            <div class="col">
                                <label class="btn btn-warning text-white form-control rounded-0 mx-5 hover-shadow">
                                    Browse <input id="updateProfileImgSelector" onchange="readPreviewURL(this);"
                                                  type="file" hidden>
                                </label>
                            </div>
                            <div class="col">
                                <a th:href="@{#}" id="removeImg"
                                   class="btn btn-outline-danger hover-shadow rounded-0 hover-shadow">Remove Image
                                </a>
                            </div>
                        </div>


                    </div>


                </div>
                <div class="modal-footer">

                    <a th:href="@{/profile/edit}" class="btn btn-outline-secondary hover-shadow rounded-0 hover-shadow">
                        Cancel
                    </a>
                    <button type="submit" id="uploadImgSubmit"
                            class="btn btn-outline-warning hover-shadow rounded-0 hover-shadow">Upload
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="py-5 bg-warning">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script th:href="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
<script th:href="@{/js/jquery.validate.min.js}" src="../js/jquery.validate.min.js"></script>
<script th:href="@{/js/bootstrap.bundle.min.js}" src="/js/bootstrap.bundle.min.js"></script>

<script th:href="@{/js/modal.js}" src="../js/modal.js"></script>
<script th:href="@{/js/animate.js}" src="../js/animate.js"></script>
<script th:href="@{/js/validation.js}" src="../js/validation.js"></script>

<script th:href="@{/js/popper.min.js}" src="../js/popper.min.js"></script>
<script th:href="@{/js/holder.min.js}" src="../js/holder.min.js"></script>

</body>

</html>
